.multiselect-dark .multiselect__tags {
  background-color: #1f2937;
  border-color: #4b5563;
  color: #d1d5db;
}

.multiselect-dark .multiselect__input,
.multiselect-dark .multiselect__single {
  background-color: #1f2937;
  color: #d1d5db;
}

.multiselect-dark .multiselect__option--highlight {
  background-color: #4f46e5;
  color: #ffffff;
}

.multiselect-dark .multiselect__option--selected {
  background-color: #374151;
  color: #d1d5db;
}

.multiselect-dark .multiselect__content-wrapper {
  background-color: #1f2937;
  border-color: #4b5563;
  color: #d1d5db;
  max-height: 200px !important;
  overflow-y: auto !important;
  z-index: 50;
  position: absolute;
  width: 100%;
}

.multiselect-dark .multiselect__tag {
  background-color: #4338ca;
  color: #ffffff;
}

.multiselect-dark .multiselect__tag-icon {
  background-color: #4f46e5;
}

.multiselect-dark .multiselect__tag-icon:hover {
  background-color: #3730a3;
}

.multiselect-dark .multiselect__placeholder {
  color: #6b7280;
}

.multiselect-dark .multiselect__select {
    background-color: #1f2937;
}

.multiselect-dark .multiselect__spinner {
  background-color: #1f2937;
}

.multiselect-dark .multiselect__option--disabled {
    display: none;
}

.multiselect {
    position: relative;
    z-index: 10;
}